server {
    listen 80;
    listen 443 ssl;
    
    server_name alpha.local.dev.auth0.com;
    
    ssl_certificate     /etc/ssl/server.crt;
    ssl_certificate_key /etc/ssl/server.key;

    resolver 127.0.0.11 valid=5s;
    set $alpha http://alpha;

    location / {
        proxy_pass $alpha;
    }
}

server {
    listen 80;

    server_name beta.local.dev.auth0.com;
    resolver 127.0.0.11 valid=5s;
    set $beta http://beta;

    location / {
        proxy_pass $beta;
    }
}

server {
    listen 80;

    server_name gamma.local.dev.auth0.com;
    resolver 127.0.0.11 valid=5s;
    set $gamma http://gamma;

    location / {
        proxy_pass $gamma;
    }
}